/node_modules/
/.idea/
/.vscode/
/dist/
/.cache/
/temp/
/coverage/

.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo

*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.env.local
.env.development
.env.test
.env.production

.eslintcache
.prettiercache

/stats.json