.burger-menu {
  position: relative;
  display: none;
}

#burger-toggle {
  display: none;

  &:checked {
    ~ .burger-button {
      .burger-line {
        background: transparent;

        &::before {
          transform: rotate(45deg);
          top: 0;
          background-color: rgba(0, 0, 0, 0.4);
        }

        &::after {
          transform: rotate(-45deg);
          top: 0;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }

    ~ .burger-nav {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    ~ body {
      overflow: hidden;
    }
  }
}

.burger-button {
  position: relative;
  left: 0;
  z-index: 1001;
  width: 24px;
  height: 21px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.burger-line {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.14);
  transition: transform 0.3s;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.14);
    transition: transform 0.3s;
  }

  &::before {
    top: -8px;
  }

  &::after {
    top: 8px;
  }
}

.burger-nav {
  position: absolute;
  top: -20px;
  left: -20px;
  padding: 50px 20px 20px;
  width: 100vw;
  max-width: 300px;
  height: calc(100vh - 30px);
  background-color: #EADEFF;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
  z-index: 1000;
  scrollbar-width: none;
}

.burger-nav--scroll {
  margin-top: 10px;
  height: 100%;
  overflow-y: auto;
}

.burger-menu__list {
  margin: 0;
}

@media (max-width: 960px) {
  .burger-menu {
    display: block;
  }
  .burger-nav {
    background-color: #d6bdff;
  }
}

@media (max-width: 320px) {
  .burger-nav {
    background-color: #d6bdff;
  }
}