
.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  align-items: flex-end;
  justify-content: center;
  overflow: auto;

  &__block-top {
    position: fixed;
    top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 15px;
    top: 10px;
    right: 20px;
    height: 60px;

    &__polygon {
      fill: #766A6A;
      width: 23px;
      height: 28px;
      transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        fill: red;
        cursor: pointer;
        transform: scale(1.3);
      }

      &:active {
        fill: red;
        cursor: pointer;
        transform: scale(0.8);
      }
    }

    &__elipse {
      fill: #766A6A;
      width: 23px;
      height: 23px;
      transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        fill: red;
        cursor: pointer;
        transform: scale(1.3);
      }

      &:active {
        fill: red;
        cursor: pointer;
        transform: scale(0.8);
      }
    }

    &__rectangle {
      fill: #766A6A;
      width: 23px;
      height: 23px;
      transition: fill 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        fill: red;
        cursor: pointer;
        transform: scale(1.3);
      }

      &:active {
        fill: red;
        cursor: pointer;
        transform: scale(0.8);
      }
    }
  }

}

@media (max-width: 1024px) {
  .content {
    padding: 20px;
  }
}

@media (max-width: 960px) {
  .content__block-top {
    position: absolute;
    padding: 0 20px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(149, 217, 255, 1);
  }
}
