.cards
    each card, index in [...Array(45).keys()]
        .card
           p.card__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad distinctio dolores dolorum hic illo magni molestiae nostrum quis quod suscipit!