doctype html
html(lang="ru")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sveak Test
        body
            main
                .container
                    include components/layout/layout.pug
                    include components/footer/footer.pug