doctype html
html(lang="ru")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Sveak Test
        body
            header.header
                include components/header/header.pug
            main.main
                aside
                    include components/menu/menu.pug

                .container
                    include components/layout/layout.pug
            footer.footer
                    include components/footer/footer.pug